$gris : hsla(0, 0%, 61%, 0.56);
$gris-accion : #818181;
$rojo : #e04d309c;
$rojo-accion : #e04c30;
$verde : #85d672;
$verde-accion : rgb(82, 142, 70);

.gray {
    background-color: #9b9a9a;
}

.verde {
    background-color: $verde;
}
