main {
    padding: 50px 10px 20px 10px;
    display: flex;
    column-gap: 50px;

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        background-color: #b7b7b65a;
        border-radius: 15px;
        align-self: center;
        padding: 10px;
        
        article {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;

            #inputsFiltrar {
                padding: 10px
            }

            .lista-jugadores {
                width: 400px;
                background-color: rgb(245, 245, 245);
                align-self: center;
                text-align: justify;
                border: 0px solid;
                border-radius: 10px;
                padding: 10px;
            }

            h3 {
                font-size: medium;
            }

            h4 {
                font-size: small;
            }
        }
    }
}

.boton {
    @include boton($gris, $gris-accion);
}

.boton-iniciar {
    @include boton($verde, $verde-accion);
}

.boton-cancelar {
    @include boton($rojo, $rojo-accion);
}

.active {
    font-weight: 500;
}

